.imageList {
  overflow: visible;
}

.listItem {
  border-radius: 7px;
  transition: all 500ms;
}

.listItem:hover {
  transform: translateY(-3px) scale(1.07);
}

.listItem:hover .moreButton {
  display: flex;
}

.listItemImage {
  object-fit: cover;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  max-height: 100%;
  border-radius: 7px;
}

.listItemBar {
  text-transform: uppercase;
  font-weight: 700;
}
