.root {
  position: relative;
  height: 100%;
  width: 100%;
}

.imageContainer {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spinnerContainer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #051523;
}

.errorImageContainer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
}

.errorImageRelativeContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.errorImage {
  object-fit: contain !important;
  width: 100% !important;
}
