.spinnerContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #051523;
}

.errorImageContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
}

.errorImageRelativeContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.errorImage {
  object-fit: cover;
  width: 100%;
}
