.movieList {
  overflow: visible;
}

.listItem {
  border-radius: 7px;
  transition: all 500ms;
}

.listItem:hover {
  transform: translateY(-3px) scale(1.1);
}

.listItem:hover .moreButton {
  display: flex;
}

.listItemImage {
  border-radius: 7px;
}

.listItemBar {
  text-transform: uppercase;
  font-weight: 700;
}
